@model List<MvcBlog.Entities.Concrete.Entities.Makale>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        @foreach (var item in Model)
        {
           
            <div class="post-preview">
                <a href="Home/Detail/@item.MakaleID">
                    <h2 class="post-title">
                        @item.Baslik
                    </h2>
                    <h3 class="post-subtitle">
                        @(item.Icerik.Length>100? item.Icerik.Substring(0,100)+"...": item.Icerik)
                    </h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#">@(item.Yazar.Ad+" "+ item.Yazar.Soyad)</a>
                    on @item.YayinTarihi.ToShortDateString()
                </p>
            </div>
            <hr>
        }
        
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
    </div>
</div>